<!-- <link rel="stylesheet" href="././css/calendarDemo.css" /> -->
<link href='././css/fullcalendar.min.css' rel='stylesheet' />
<link href='././css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<style>

.card {
  height : 50px;
  width:100%;
  background-color: #fff;
  padding: 3px;
    padding-left: 10px;
  border-radius: 3px;
}

.card-help{
  height : 110px;
  width:100%;
  background-color: #fff;
  padding: 3px;
    padding-left: 10px;
  border-radius: 3px;
}

.card-notes {
  height : 50px;
  margin-top: 5px;
  background-color: #fff;
  padding: 5px;
    padding-left: 10px;

}

.margin-add{
  margin : 15px 0px 0px 0px !important;
}

.margin-add-notes {
  margin : 5px 0px 0px 0px !important;
}

.margin-add-self {
  margin : 20px 0px 0px 0px !important;
}


.label-mar {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 10px;
  color :#f80000;
}

.label-mar-header{
  margin-bottom: 0;
  font-weight: 500;
  font-size: 10px;
  color : #303030;
}

.right {
  float: right;
}

.button-check {
  width : 100%;
  height:50px;
  border-top-right-radius  :100px;
  border-bottom-right-radius  :100px;
  background-color: #f80000;
  padding-left: 0px;
  padding-right: 0px;
  padding: 15px;
    text-align: center;
    color : #fff;
    font-weight: bold;
    font-family: Open Sans;
}

.no-pad{
  padding-left: 0px;
  padding-right: 0px;
}

.divider{
  margin: 0 auto;
  width: 90%;
}

hr {
  border-top: 1px solid #ececec !important;
}

</style>

<!-- <md-tabs md-dynamic-height md-border-bottom> -->
<!-- <md-button class="md-primary debrief-btn" ng-show="showDebrief">DEBRIEF</md-button>
   <md-button class="md-primary startwork-btn" ng-show="showStartWork" ng-click="startWork()">START WORK</md-button>
  <!-- <md-tab label="Calendar"> -->


    <div class="row margin-add">

        <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card">

            <label class="label-mar">OPEN JOBS</label>
            <p>20</p>


          </div>

        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">

          <div class="card">
            <label class="label-mar">NEW JOBS</label>
            <p>20</p>

          </div>


        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">

          <div class="card">

            <label class="label-mar">COMPLETED JOBS</label>
            <p>20</p>

          </div>

        </div>
</div>

<div class="row margin-add-self">
  <div class="col-md-12">
      <label class="label-mar-header">SELF NOTES</label>
      <label style="margin-right:20px;margin-top: 4px;" class="label-mar-header right">ADD</label>
  </div>
</div>

<div class="row margin-add-notes">
  <div ng-repeat="list in lists" class="col-md-12">
    <div class="col-md-11 card-notes">

    <label class="label-mar-header">{{list.heading}}</label>
    <p style="font-size:10px !important;">{{list.date}}</p>

  </div>

  <div class="col-md-1 no-pad" style="margin-top:5px;">
    <div class="button-check" >CHECK</div>
  </div>
  </div>
</div>

<div class="divider">
  <hr style="text-align:center">
</div>

<div class="row margin-add">

    <div class="col-md-4 col-sm-4 col-lg-4">
      <div class="card-help text-center">

        <img src="group.png" style="width: 20%;"></img>
        <p>Collabration</p>


      </div>

    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">

      <div class="card-help text-center">


                <img src="group.png" style="width: 20%;"></img>
                <p>Collabration</p>


      </div>


    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">

      <div class="card-help text-center">


                <img src="group.png" style="width: 20%;"></img>
                <p>Collabration</p>



      </div>

    </div>
</div>
