<div class="signup-form">

  <div class="inner-contentLogin">

    <div class="logo">
      <img src="images/Oracle-logo.png" width="80%" /><br>

    </div>
    <div class="loginTitle">Sign in by using your Emerson log in credentials</div>

    <div class="form-back">
      <form style="margin-top:20px;">
        <input type="field" placeholder="Username" id="user" ng-model="userName" required />

        <input type="password" placeholder="Password" id="pass" ng-model='password' required/>

      </form>
    </div>

    <button class="margintop30" type="button" id="loginButton"  ng-click="login()">SIGN IN</button>


  </div>

  <p style="color:#fff;font-size:9px;text-align:center;">@2017 Emerson Electric Co. All rights reserved</p>

</div>
