<style>
  div.resources {
    margin: 30px;
    float: left;
    width: 100px;
  }

  div.resources:hover {

  }

  div.resources img {
    width: 75px;
    height: 100px;

  }

  .imgPad {
    border: 1px solid #ccc;
padding: 10px;
  }



  div.desc {
    padding: 15px;
    text-align: center;
  }
  .toolsField{
    height:400px;
  }
  /*.customContainer{
    margin-top : 20px;
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
    padding-top:20px;
    padding-left: 75px;
    padding-right: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
  }*/

</style>
<md-toolbar class="category-title" layout="row">
  <div class="md-toolbar-tools toolbar">

    <md-button class="subheader-btns " aria-label="Learn More"  ui-sref="taskOverFlow">
      FIELD JOB DETAILS
    </md-button>
    <md-button class="subheader-btns " aria-label="Learn More"  ui-sref="todo">
      ONSITE REQUIREMENT
    </md-button>
    <md-button class="subheader-btns btn-chng" aria-label="Learn More"  ui-sref="todo">
            GATE PASS
    </md-button>
    <md-button class="subheader-btns btn-chng" aria-label="Learn More"  ui-sref="todo">
            TROUBLE SHOOTING
    </md-button>
    <md-button class="subheader-btns btn-chng" aria-label="Learn More"  ui-sref="todo">
            COLLABORATE
        </md-button>
    <!--     <md-button class="subheader-btns " aria-label="Learn More" flex="15" ui-sref="Material">
      CUSTOMER INTERACTION
    </md-button> -->

    <span flex></span>
    <md-button class="md-primary startwork-btn" ui-sref="debrief" ng-click="$root.showTaskOrDebrief(4)">DEBRIEF</md-button>

  </div>
</md-toolbar>
<h4 class="header-labeles">NOTES</h4>
<div class="container " style="padding:0">
<div class=" TodoContainer" ng-if="taskDetails.Notes == undefined || taskDetails.Notes.length==0">
NO DATA
</div>
</div>
<div class="container" style="padding:0" ng-repeat = "note in taskDetails.Notes">

  <div class="TodoContainer">
    <div class="ng-scope layout-column">
      <div class="labels">{{note.Created_By}}</div>
      <div class="mysmallValue">{{note.Start_Date.split(" ")[0] | date:'dd/MM/yyyy'}}</div>
      <div class="margintop30"><span style="color:#2d383f;font-weight:600;font-size:12px;font-family:Arial">NOTE TYPE-</span><span>{{note.Notes_type}}</span></div></div>
      <div  class="myvalue margintop10"><span style="color:#2d383f;font-weight:600;font-size:12px;font-family:Arial">NOTE DESCRIPTION-</span><span>{{note.Notes}}</span></div>
    </div>
  </div>
</div>

<h4 class="header-labeles">REFERENCES</h4>
<div class="container" style="padding:0">
  <div class="TodoContainer">

    <div class="ng-scope layout-row" >
      <div flex=100 layout layout-align="center center" style="  border-collapse: separate;border-spacing: 30px;" >

       
          <uib-accordion close-others="oneAtATime" class="col-sm-12">
           <div class="col-sm-12" uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen">
            <uib-accordion-heading>
              IMAGE NAME: MPLS
              <img src="images/MPLS.png" style="width: auto;height: 150px;margin-left: 35px;">
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
            </uib-accordion-heading>
            <div class="mpls-img"></div>
          </div>

            <div class="col-sm-12" uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
              IMAGE NAME: MPLS 2
              <img  src="images/MPLS2.jpg" style="width: auto;height: 150px;margin-left: 35px;">
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
            </uib-accordion-heading>
            <div class="mpls2-img"></div>
          </div>

        </uib-accordion>


          
      
      </div>

      <!-- <div class="resources">
        <img src="images/pdf.png" alt="" width="50" height="75">
        <div class="desc">Doc1</div>
      </div>

      <div class="resources">
        <img src="images/pdf.png" alt="" width="50" height="75">
        <div class="desc">Doc2</div>
      </div>

      <div class="resources">
        <img src="images/pdf.png" alt="" width="50" height="75">
        <div class="desc">Doc3</div>
      </div>

      <div class="resources">
        <img src="images/pdf.png" alt="" width="50" height="75">
        <div class="desc">Doc4</div>
      </div> -->

    </div>
     
  </div>
</div>







<h4 class="header-labeles">TOOLS AND EQUIPMENTS</h4>
<div class="container  toolsField" style="padding:0"  >
  <div class="TodoContainer">

    <div class="ng-scope layout-column">
      <div class="layout-row" ng-repeat="t in defaultTasks track by $index" >
        <div flex=100 layout layout-align="center center" >
          <div class="list-item">

            {{t}}
            <!-- <span><img src="images/cancel.png" style="width:12px;float:right;padding-top:3px;outline:none;" ng-click="delete()"></img></span> -->
          </div>

          <!--  <md-button ng-click="delete()" class="md-raised md-primary" style="background-color:red;width:10px;height:10px">
            x resources style border: 1px solid #ccc;resources hover border: 1px solid #777;
          </md-button>-->

          <!--<span style="background-color:red;height:33px" ng-click="delete()">X</span>-->
          <br><br>

        </div>
      </div>


      <div class="ng-scope layout-column">
        <div class="layout-row" ng-repeat="t in tasks track by $index" >
          <div flex=100 layout layout-align="center center" >
            <div class="list-item">

              {{t}}
              <span><img src="images/cancel.png" style="width:12px;float:right;padding-top:3px;outline:none;" ng-click="delete()"></img></span>
            </div>

            <!--  <md-button ng-click="delete()" class="md-raised md-primary" style="background-color:red;width:10px;height:10px">
              x resources style border: 1px solid #ccc;resources hover border: 1px solid #777;
            </md-button>-->

            <!--<span style="background-color:red;height:33px" ng-click="delete()">X</span>-->
            <br><br>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-bottom:20px;padding:0 !important">
    <div class="TodoContainer patternImg">

        <div class="box-add">
          <div class="inner-content">
            <form name="TodoForm">
              <!-- <label id="equip-header">ADD EQUIPMENTS/TOOLS</label><br>

              <input id="fieldTool" ng-model="title"  name="title" type="text" ng-required="true" placeholder="enter the tools/equipment" ></input>

              <!-- <span style="color:red" ng-show="TodoForm.title.$dirty && TodoForm.title.$invalid && TodoForm.title.$error.required">
                task is required
              </span> -->
              <!-- <button id="addBtn" type="sumbit" ng-click="add()"  ng-disabled="TodoForm.$invalid " >Add</button> -->


              <div class="input-group" >
                  <label class="label-my" id="equip-header">ADD EQUIPMENTS/TOOLS</label>
              </div>

              <div class="input-group" >

                 <input style="border: none;border-radius: 0;" class="form-control"  id="fieldTool" ng-model="title" name="title" type="text" required/>
                   <span class="input-group-addon" id="btnGroupAddon" ng-click="add()" ng-disabled="MaterialForm.$invalid " style="background-color: #00aa7e;border: none; border-radius: 0 !important;color: #fff;font-weight: bold;">ADD</span>
               </div>



            </form>
          </div>
        </div>


    </div>
  </div>
